MY_SERVICE_ROLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_CHAKRAHQ_ACCESS_TOKEN=
VITE_CHAKRAHQ_CLIENT_ID=
VITE_CHAKRAHQ_CLIENT_SECRET=
VITE_CHAKRAHQ_PHONE_NUMBER_ID=
VITE_CHAKRAHQ_PLUGIN_ID=
VITE_CHAKRAHQ_REFRESH_TOKEN=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=